<div class="show-user">
  <% if flash[:notice] %>
    <div class="notification is-warning"><%= flash[:notice] %></div>
  <% end %>

  <h2>User Details</h2>
  <p class="name">
    <span class="icon is-small is-left">
      <i class="fas fa-user"></i>
    </span>
    <span class="label">Name: </span><%= @user.name %>
  </p>
  <p class="email">
    <span class="icon is-small is-left">
      <i class="fas fa-envelope"></i>
    </span>
    <span class="label">Email: </span><%= @user.email %>
  </p>
  <p class="created-at">
    <span class="label">Created at: </span>
    <%= @user.created_at.localtime %>
  </p>

  <%= link_to "Update", edit_user_path, class: "edit-button button is-warning" %>
</div>
