<div class="books">
  <% if @searched_tags %>
    <%= render partial: "tags", locals: { searched_tags: @searched_tags, other_tags: @other_tags } %>
  <% end %>
  <div class="book-results">
    <% cache(@books) do %>
      <% @books.each do |book| %>
        <% cache(book) do %>
          <a class="book-card" href="/books/<%= "#{book[:source_id]}?source=#{book[:source]}" %>">
            <%= image_tag(book[:cover_url], class: "cover", alt: "Book Cover") %>
            <div class="book-card-footer">
              <p class="title"><%= truncate(book[:title], length: 45) %></p>
              <p class="author">
                <%= truncate(book[:authors] ? book[:authors][0] : book.authors[0].name, length: 46) %>
              </p>
            </div>
          </a>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>

<% if @total_pages && @total_pages > 1 %>
  <%= render partial: "pagination", locals: { current_page: @current_page, total_pages: @total_pages } %>
<% end %>
