<div class="book-details columns">
  <div class="column is-two-fifths left-column">
    <%= image_tag(@book[:cover_url], class: "cover", alt: "Book Cover") %>
    <p class="title"><%= @book[:title] %></p>
    <% @authors.each do |author| %>
      <h2 class="author"><%= author[:name] %></h2>
    <% end %>
    <% if @book[:published_year] %>
      <p class="published">First published in <%= @book[:published_year] %></p>
    <% end %>
  </div>
  <div class="column" data-controller="book">
    <div class="tabs is-centered is-boxed">
      <ul>
        <li class="is-active tab" data-action="click->book#changeTab" data-tab="user-tags">
          <a>
            <span class="icon is-small"><i class="fas fa-tags" aria-hidden="true"></i></span>
            <span>Tags</span>
          </a>
        </li>
        <li class="tab" data-action="click->book#changeTab" data-tab="comments">
          <a>
            <span class="icon is-small"><i class="fas fa-comment" aria-hidden="true"></i></span>
            <span>Comments</span>
          </a>
        </li>
        <li class="tab" data-action="click->book#changeTab" data-tab="description">
          <a>
            <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
            <span>Description</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content user-tags is-active" data-controller="tag-modal">
      <div class="add-tag-button-row">
        <button class="button is-warning is-small is-rounded" data-action="click->tag-modal#open">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Add a tag</span>
        </button>
      </div>

      <%= render partial: "create_tag_modal", locals: { book: @book } %>

      <div class="field is-grouped is-grouped-multiline tags-container">
        <% @tags.each do |tag| %>
          <div class="control" data-tag-id="<%= tag[:id] %>">
            <div class="tags has-addons">
              <% if tag[:user_id] == @user.id %>
                <a class="tag is-primary is-medium" href="/books?tags[]=<%= tag[:text] %>"><%= tag[:text] %></a>
                <%= link_to("", tag_path(tag), method: :delete, remote: true, class: "tag is-delete is-primary is-medium", data: { confirm: "Are you sure you want to delete the \'#{tag[:text]}\' tag?" }) %>
              <% else %>
                <a class="tag is-info is-medium" href="/books?tags[]=<%= tag[:text] %>"><%= tag[:text] %></a>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <div class="tab-content comments" data-controller="comment-modal">
      <div class="add-comment-button-row">
        <button class="button is-warning is-small is-rounded" data-action="click->comment-modal#openCreate">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Add a comment</span>
        </button>
      </div>

      <%= render partial: "create_comment_modal", locals: { book: @book } %>
      <%= render partial: "edit_comment_modal", locals: { book: @book } %>

      <div class="comments-container">
        <% @comments.each do |comment| %>
          <%= render partial: 'comments/comment', locals: { user: @user, comment: comment } %>
        <% end %>
      </div>
    </div>
    <div class="tab-content description">
    <% @book[:description].split("<br /><br />") do |paragraph| %>
      <p class="description-paragraph"><%= paragraph %></p>
    <% end %>
    </div>
  </div>
</div>
