<div class="book-details columns">
  <div class="column is-two-fifths left-column">
    <%= image_tag(@book[:cover_url], class: "cover", alt: "Book Cover") %>
    <p class="title"><%= @book[:title] %></p>
    <% @book[:authors].each do |author| %>
      <h2 class="author"><%= author %></h2>
    <% end %>
    <p class="published"><%= @book[:publisher] %>&nbsp;&copy;<%= @book[:published_year] %></p>
  </div>
  <div class="column" data-controller="book">
    <div class="tabs is-centered is-boxed">
      <ul>
        <li class="is-active tab" data-action="click->book#changeTab" data-tab="user-tags">
          <a>
            <span class="icon is-small"><i class="fas fa-tags" aria-hidden="true"></i></span>
            <span>Tags</span>
          </a>
        </li>
        <%#
        <li class="tab" data-action="click->book#changeTab" data-tab="comments">
          <a>
            <span class="icon is-small"><i class="fas fa-comment" aria-hidden="true"></i></span>
            <span>Comments</span>
          </a>
        </li>
        %>
        <li class="tab" data-action="click->book#changeTab" data-tab="description">
          <a>
            <span class="icon is-small"><i class="fas fa-info-circle" aria-hidden="true"></i></span>
            <span>Description</span>
          </a>
        </li>
      </ul>
    </div>
    <div class="tab-content user-tags is-active" data-controller="tag-modal">
      <div class="add-tag-button-row">
        <button class="button is-warning is-small is-rounded" data-action="click->tag-modal#open">
          <span class="icon">
            <i class="fas fa-plus"></i>
          </span>
          <span>Add a tag</span>
        </button>
      </div>

      <%= render partial: "add_tag_modal", locals: { book: @book } %>

      <div class="field is-grouped is-grouped-multiline tags-container">
        <% @tags.each do |tag| %>
          <div class="control" data-tag-id="<%= tag[:id] %>">
            <div class="tags has-addons">
              <a class="tag is-info is-medium"><%= tag[:text] %></a>
              <%= link_to("", tag_path(tag), method: :delete, remote: true, class: "tag is-delete is-info is-medium", data: { confirm: "Are you sure you want to delete the \'#{tag[:text]}\' tag?" }) %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <%#
    <div class="tab-content comments">
    </div>
    %>
    <div class="tab-content description">
    <% @book[:description].split("<br /><br />") do |paragraph| %>
      <p class="description-paragraph"><%= paragraph %></p>
    <% end %>
    </div>
  </div>
</div>
