<div class="control" data-tag-id="<%= tag[:id] %>">
  <div class="tags has-addons">
    <% if tag[:user_id] == @user.id %>
      <a class="tag is-primary is-medium" href="/books?tags[]=<%= tag[:text] %>"><%= tag[:text] %></a>
      <%= link_to("", tag_path(tag), method: :delete, remote: true, class: "tag is-delete is-primary is-medium", data: { confirm: "Are you sure you want to delete the \'#{tag[:text]}\' tag?" }) %>
    <% else %>
      <a class="tag is-info is-medium" href="/books?tags[]=<%= tag[:text] %>"><%= tag[:text] %></a>
    <% end %>
  </div>
</div>
