<!DOCTYPE html>
<html class="has-navbar-fixed-top">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Counseling Book Tags</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# Bulma Resources %>
    <%# <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.8.0/css/bulma.min.css" integrity="sha384-5kGFOAqgEKnuF6c2jk2JANKHZgYVt38Wn2dVJENtq1EBCP54/1uzXU5mpxqL8WjN" crossorigin="anonymous"> %>
    <%# <script src="https://use.fontawesome.com/releases/v5.3.1/js/all.js" integrity="sha384-kW+oWsYx3YpxvjtZjFXqazFpA7UP/MbiY4jvs+RWZo2+N94PFZ36T6TFkc9O3qoB" crossorigin="anonymous"></script> %>
    <%# <script src="https://kit.fontawesome.com/feb7801734.js" crossorigin="anonymous" integrity="sha384-nqRFAmhaey1NTeGnGTWuarPi+4uSHJbQhyaD9DrXHU2lHlDAm4zScwcd0lx6TIyi"></script> %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar is-fixed-top is-white" role="navigation" aria-label="main navigation" data-controller="menu">
      <div class="navbar-brand">
        <%#= image_tag("logo.png", alt: "Site logo", id: "site-logo") %>
        <span class="icon is-large has-text-grey-dark"><i class="fas fa-2x fa-book-reader"></i></span>
        <h2 id="site-title" class="navbar-item has-text-grey-dark">COUNSELING BOOK TAGS</h2>
        <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="menu.navbarBurger" data-action="click->menu#toggle">
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
          <span aria-hidden="true"></span>
        </a>
      </div>

      <div class="navbar-menu" data-target="menu.navbarMenu">
        <div class="navbar-start">
          <div class="navbar-divider"></div>
          <a class="navbar-item is-expanded nav-link" href="/tags">
            <span class="icon has-text-danger">
              <%= fa_icon("tags", class: "fas") %>
            </span>
            <span>&nbsp;&nbsp;All Tags</span>
          </a>
          <a class="navbar-item nav-link" href="/books">
            <span class="icon has-text-info">
              <%= fa_icon("search", class: "fas") %>
            </span>
            <span>&nbsp;&nbsp;Search</span>
          </a>
          <a class="navbar-item nav-link" href="/users/<%= @user.id %>%">
            <span class="icon has-text-primary">
              <%= fa_icon("user", class: "fas") %>
            </span>
            <span>&nbsp;&nbsp;My Profile</span>
          </a>
        </div>

        <div class="navbar-end">
          <div class="navbar-item">
            <div class="buttons">
              <% if @user && !@user.new_record? %>
                <%= link_to 'Logout', logout_path, method: :delete, class: "button is-danger" %>
              <% else %>
                <a class="button is-primary" href="/users/new"><strong>Sign up</strong></a>
                <a class="button is-light" href="/login">Log in</a>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </nav>

    <%= yield %>
  </body>
</html>
